<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuzzQuizz</title>

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        BuzzQuizz
    </header>
    
    <div id="container-settings">
        <h2>Título da etapa</h2>

        <div class="bloco-opcoes aberto">
            <span>
                <h3>Um título</h3>
                <!-- icone para animação // some qnd opção é aberta-->
            </span>

            <input type="text">
            <input type="text">

            <h3>Um título</h3>

            <input type="text">
            <input type="text">

        </div>
    </div>

    <button>Prosseguir para criar níveis</button>

    <!-- Só no ultimo -->
    <a href="">Voltar para home</a>

</body>
</html>
