<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuzzQuizz</title>

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        BuzzQuizz
    </header>    

    <h3>Um título</h3>

            <input type="text" placeholder="Texto placeholder">
            <input type="text" placeholder="Texto placeholder">
            <textarea class="descricao" cols="30" rows="4" placeholder="Descrição do nível"></textarea>
             
        </div>

        <div class="bloco-opcoes">
            <span class="titulo-bloco">
                <h3>Um título</h3>
                <ion-icon name="briefcase"></ion-icon>
            </span>
        </div>

        <h2>Seu quizz está pronto</h2>

        <div id="quizz-feito">
            <img src="imgs/simpsons.jpg" alt="">
            <h3>Acerte os personagens corretos dos Simpsons e prove seu amor!</h3>
        </div>
    </div>

    <div id="btns-settings" class=""> <!--Com class quizz-completo -->
        <button>Prosseguir pra criar níveis</button>
        
        <!-- Só no ultimo -->
        <a href="">Voltar para home</a>
    </div>
        
        
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="script.js"></script>
</body>
</html>