<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuzzQuizz</title>

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        BuzzQuizz
    </header>

    <div id="header-quizz">
        O quão Potterhead é você?
    </div>
    
    <div id="conteiner-perguntas">
        <div class="pergunta">
            <div class="titulo-pergunta">
                Em qual animal Olho-Tonto Moody transfigurou Malfoy?
            </div>

            <div class="opcoes">
                <div class="opcao">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>

                <div class="opcao">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>

                <div class="opcao">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>

                <div class="opcao">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>
            </div>

        </div>


        <div class="pergunta">
            <div class="titulo-pergunta">
                Em qual animal Olho-Tonto Moody transfigurou Malfoy?
            </div>

            <div class="opcoes respondida">
                <div class="opcao selecionada">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>

                <div class="opcao">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>

                <div class="opcao">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>

                <div class="opcao correta">
                    <img src="" alt="">
                    <span>Gatíneo</span>

                </div>
            </div>

        </div>
    </div>

    <div id="resposta">
        <div id="titulo-resp">

        </div>

        <div>
            <img src="" alt="">

            <p>Parabéns Potterhead! Bem-vindx a Hogwarts, aproveite o loop infinito de comida e clique no botão abaixo para usar o vira-tempo e reiniciar este teste.</p>
        </div>
    </div>

    <div id="btns-retorno nao-respondido">
        <button>Reiniciar Quizz</button>

        <!-- pode mudar para um p ou button se quiser -->
        <a href="index.html">Voltar pra home</a>
    </div>

</body>
</html>
