@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
  }

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color: #FAFAFA;
}

h2 {
    font-size: 23px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

ion-icon {
    color: black;
    font-size: 30px;
    cursor: pointer;
}


/******** Home ********/

/* Header */

header {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

/* Container */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seus-quizzes {
    margin-top: 70px;
    width: 70%;
    height: 200px;
}

#seus-quizzes button {
    height: 30px;
    width: 30px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 15px;
    background-color: #EC362D;
    color: white;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#seus-quizzes .titulo-btn {
    display: flex;
}

#seus-quizzes .titulo-btn h2 {
    margin-right: 5px;
}

#seus-quizzes > span {
    width: 250px;
    text-align: center;
    line-height: 25px;
}

#seus-quizzes.sem-quizz {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #D4D4D4;
    border-radius: 10px;
    color: #B9B9B9;
    font-size: 20px;
}



#seus-quizzes.sem-quizz button {
    border: 2px dashed #EC362D;
    background-color: white;
    font-size: 21px;
    padding: 10px;
    color: #EC362D;
    border-radius: 30px;
    width: auto;
    font-weight: 500;
    height: auto;
}

#container-meu-quizz {
    display: flex;
    justify-content: space-between;
}



/* Quizzes comunidade */

#todos-quizzes {
    width: 70%;
    margin-top: 70px;
}

#container-quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz {
    position: relative;
    text-align: center;
    color: white;
    display:block;
    width: 30%;
    margin: 10px 0;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.quizz h3 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
}

.quizz img {
    border-radius: 10px;
    height: 180px;
    width: 100%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

/******** Quizz ********/

#header-quizz {
    background: url(imgs/simpsons.jpg), rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 39px;
}

#conteiner-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resposta,
.pergunta {
    width: 40%;
    margin-top: 20px;
    padding: 1vw;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#titulo-resp,
.titulo-pergunta {
    width: 100%;
    padding: 30px 0;
    background-color: #EC362D;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 700;
}

/* Box-perguntas */

.pergunta {
    padding: 1.5vw;
}

.titulo-pergunta {
    background-color: aqua;
}

.opcoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opcoes.respondida img,
.opcoes.respondida span {
    opacity: 0.5;
}

.opcoes.respondida span {
    color: #FF4B4B;
}

.opcao {
    width: 48%;
    height: 200px;
    margin-top: 1vw;
}

.opcao img {
    max-height: 175px;
    width: 100%;
    cursor: pointer;
}

.opcao span {
    padding-top: 10px;
    font-weight: 700;
    display: block;
    cursor: pointer;
}

.opcao.selecionada img,
.opcao.selecionada span {
    opacity: 1;
}

.opcao.correta span {
    color: #009C22;
}

/*  Resposta Quizz */

#resposta  div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#resposta img {
    width: 50%;
    max-height: 270px;
}

#resposta p {
    width: 50%;
    padding: 0 1vw;
    font-weight: 700;
    font-size: 18px;
    color: #484848;
}

/* Botões Quizz */

#btns-retorno,
#btns-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

#btns-retorno.nao-respondido {
    display: none;
}

#btns-retorno button,
#btns-settings button {
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #EC362D;
    font-weight: 400;
    font-size: 22px;
    padding: 15px;
    cursor: pointer;
}

#btns-retorno a,
#btns-settings a {
    text-decoration: none;
    color:#B9B9B9;
    margin-top: 1vw;
    margin-bottom: 3vw;
    font-size: 18px;
}


/* Criar Quizz */

#container-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
}

.bloco-opcoes {
    width: 40%;
    margin-top: 30px;
    padding: 1vw;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.titulo-bloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5vw 0;
}

.bloco-opcoes > h3{
    margin-top: 1vw;
    margin-bottom: .5vw;
}

.bloco-opcoes > input {
    margin-bottom: .5vw;
    width: 100%;
    border: 1px solid #BABABA;
    border-radius:  5px;
    padding: 10px;
    font-size: 20px;
    color: #BABABA;
}

.bloco-opcoes.aberto ion-icon {
    display: none;
}



#quizz-feito {
    margin-top: 30px;
    position: relative;
    text-align: center;
    color: white;
    display:block;
    width: 35%;
    background-color: black;
    border-radius: 10px;
}

#quizz-feito h3 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    padding: .5vw;
}

#quizz-feito img {
    border-radius: 10px;
    height: auto;
    max-height: 280px;
    width: 100%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}
